[submodule "hammerspoon/dot-hammerspoon"]
	path = hammerspoon/dot-hammerspoon
	url = git@github.com:LambertGreen/dot-hammerspoon.git
[submodule "emacs/dot-emacs.doom"]
	path = emacs/dot-emacs-doom
	url = git@github.com:LambertGreen/dot-emacs-doom.git
[submodule "emacs/dot-emacs-default"]
	path = emacs/dot-emacs-default
	url = git@github.com:LambertGreen/dot-emacs-default.git
