# Karabiner backup directory
automatic_backups/

# Nvim runtime files
.netrwhist
autoload/
backup/
plugged/
swap/
undo/
spell/

# Tmux plugins
plugins/

# PowerShell modules
Modules/

# Keypirinha runtime files
Keypirinha-Notepad2.ini
Keypirinha.history

# macOS
.DS_Store
/.idea/
*.exc
.env
.dotfiles.env

# Runtime and build artifacts
.runtime/
.runtime_testing/
*.log
.logs/

# Test logs
test/.logs/

# Clink runtime files
clink_history*
clink_errorlevel*
clink.log
