[submodule "configs/emacs_common/dot-emacs.doom"]
	path = configs/emacs_common/dot-emacs.doom
	url = git@github.com-personal:LambertGreen/doomemacs.git
	branch = master
[submodule "configs/emacs_common/dot-doom.d"]
	path = configs/emacs_common/dot-doom.d
	url = git@github.com-personal:LambertGreen/dot-emacs-doom.git
	branch = master
[submodule "configs/emacs_common/dot-spacemacs.d"]
	path = configs/emacs_common/dot-spacemacs.d
	url = git@github.com-personal:LambertGreen/dot-spacemacs.git
	branch = master
[submodule "configs/emacs_common/dot-emacs.spacemacs"]
	path = configs/emacs_common/dot-emacs.spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "configs/emacs_common/dot-emacs.d"]
	path = configs/emacs_common/dot-emacs.d
	url = git@github.com-personal:LambertGreen/dot-emacs-default.git
	branch = main
[submodule "configs/nvim_common/dot-config/nvim-doom"]
	path = configs/nvim_common/dot-config/nvim-doom
	url = git@github.com-personal:LambertGreen/doom-nvim.git
	branch = my-config
[submodule "configs/nvim_common/dot-config/nvim-nyoom"]
	path = configs/nvim_common/dot-config/nvim-nyoom
	url = git@github.com-personal:LambertGreen/nyoom.nvim.git
[submodule "configs/nvim_common/dot-config/nvim-lazy"]
	path = configs/nvim_common/dot-config/nvim-lazy
	url = git@github.com-personal:LambertGreen/dot-nvim-lazy.git
[submodule "configs/nvim_common/dot-config/nvim"]
	path = configs/nvim_common/dot-config/nvim
	url = git@github.com-personal:LambertGreen/dot-nvim.git
	branch = main
[submodule "configs/nvim_win/AppData/Local/nvim"]
	path = configs/nvim_win/AppData/Local/nvim
	url = git@github.com-personal:LambertGreen/dot-nvim.git
[submodule "configs/hammerspoon/dot-hammerspoon"]
	path = configs/hammerspoon/dot-hammerspoon
	url = git@github.com-personal:LambertGreen/dot-hammerspoon
	branch = main
[submodule "configs/autohotkey/dot-autohotkey"]
	path = configs/autohotkey/dot-autohotkey
	url = git@github.com-personal:LambertGreen/dot-autohotkey.git
	branch = main
[submodule "configs/alfred-settings/Library/Application Support/Alfred"]
	path = configs/alfred-settings/Library/Application Support/Alfred
	url = git@github.com-personal:LambertGreen/alfred-settings.git
	branch = main
[submodule "win_reg_configs"]
	path = win_reg_configs
	url = git@github.com-personal:LambertGreen/win_reg_configs.git
