# Operating system files
.DS_Store
thumbs.db

# Editor files
tags
.tags
Session.vim
.vimrc

# Compiler files
.clang-format

# Karabiner backup directory
config/karabiner/automatic_backups

# Nvim
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/autoload/
nvim/.config/nvim/backup/
nvim/.config/nvim/plugged/
nvim/.config/nvim/swap/
nvim/.config/nvim/undo/
