
    [Desktop Entry]
    Type=Application
    Exec=xcape -e 'Control_L=Escape'
    Hidden=true
    NoDisplay=true
    X-GNOME-Autostart-enabled=true
    Name[en_US]=XCape
    Name=XCape
    Comment[en_US]=Runs xcape
    Comment=Runs xcape
